@font-face {
    font-family: 'S-Core Dream';
    src: url('./assets/fonts/SCDream4.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #654321;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#game-container {
    image-rendering: pixelated;
    border: 4px solid #fff;
    width: 100vw;
    height: 56.25vw;
    max-height: 100vh;
    max-width: 177.78vh;
}

canvas {
    display: block;
    background-color: #87CEEB;
    width: 100%;
    height: 100%;
}
/* 폰트를 DOM에 미리 렌더링해서 캔버스가 인식하게 강제 */
body::before {
    content: '.';
    font-family: 'S-Core Dream';
    position: absolute;
    opacity: 0;
}